main {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

main .background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('/src/imgs/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .popup {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.64);
    opacity: 1;
}

main .popup h1 {
    color: white;
    font-size: 4em;
}

main a {
    position: absolute;
    top: 2vh;
    left: 2vh;
    width: auto;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 2vh;
    border: solid 2px black;
    border-radius: 128px;
    background-color: #00ACFF;
    padding: 1vh 1vh;
}

main a:hover {
    padding: 1vh 4vh;
}

main a p {
    display: none;
    color: black;
    font-size: 2em;
}

main a:hover p {
    display: block;
}

main .container {
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.64); 
    border-radius: 8vh;
    position: relative;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.32);
}

main .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/src/imgs/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}

main .container .textarea {
    width: 88%;
    height: 96%;
    text-align: left;
    display: grid;
    grid-template-rows: repeat(52, auto);
    white-space: nowrap;
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-color: grey rgba(0, 0, 0, 0);
}

main .container .textarea code {
    width: 96%;
    height: 24px;
    font-size: 16px;
    font-family: 'SpaceMono', sans-serif;
}

@media screen and (max-width: 660px) {
    main .popup h1 {
        color: white;
        font-size: 2em;
    }
}